<div class="card-container">
    <div class="card">
        <div class="card-body text-center">
            <form class="form-signin" formGroup="form" (submit)="submit()">
            <h5 class="card-title">Register</h5>
            <div class="d-block p-2 text-start">
                <div class="mb-3">
                    <label for="firstNameInput" class="form-label">First Name</label>
                    <input formControlName="first_name" type="text" class="form-control" id="firstNameInput"
                        placeholder="Hulk" required>
                </div>
                <div class="mb-3">
                    <label for="lastNameInput" class="form-label">Last Name</label>
                    <input formControlName="last_name" type="text" class="form-control" id="lastNameInput"
                        placeholder="Smith" required>
                </div>
                <div class="mb-3">
                    <label for="emailInput" class="form-label">E-mail</label>
                    <input formControlName="email" type="email" class="form-control" id="emailInput"
                        placeholder="example@mail.com" required>
                </div>
                <div class="mb-3">
                    <label for="passwordInput" class="form-label">Password</label>
                    <input formControlName="password" type="password" class="form-control" id="passwordInput"
                        placeholder="password" required>
                </div>
                <div class="mb-3">
                    <label for="confirmPasswordInput" class="form-label">Password confirm </label>
                    <input formControlName="password_confirm" type="password" class="form-control" id="confirmPasswordInput"
                        placeholder="password" required>
                </div>
            </div>
            <div class="d-flex gap-3 justify-content-around">
                <a class="btn btn-outline-primary" routerLink="/login">Login</a>
                <a class="btn btn-outline-success" type="submit">Submit</a>
            </div>
        </form>
        </div>
    </div>
</div>