body {
    background-image: url('//src/assets/images/bg.jpg');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    height: 100vh;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card-container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.card {
    border-radius: 15px;
    border: 1px solid #6c757d;
    background-color: rgba(255, 255, 255, 0.8);
}

.checkbox-container {
    display: flex;
    gap: 8px;
    padding-bottom: 15px;
    margin-left: 5px;
    max-width: 45vh;
    font-size: 13px;
}
/* d-flex align-items-center gap-4 mb-4 */