<script src="src/menu.js"></script>

<aside id="sidebar">
    <div class="d-flex">
        <button class="toggle-btn" type="button">
            <i class='bx bx-menu'></i>
        </button>
        <div class="sidebar-logo">
            <a routerLink="">TesteSystem</a>
        </div>
    </div>
    <ul class="sidebar-nav">

        <li class="sidebar-item">
            <a class="sidebar-link" routerLink="/">
                <i class='bx bx-home-alt-2'></i>
                <span>Home</span>
            </a>
        </li>


    </ul>

    <div class="sidebar-footer">
        <ul class="footer-menu">

            <!-- <li class="sidebar-item">
          <a class="sidebar-link has-dropdown collapsed" data-bs-toggle="collapse" data-bs-target="#account"
            aria-expanded="false" aria-controls="account">
            <i class='bx bxs-user-account'></i>
            <span>Account</span>
          </a> 

          <ul id="account" class="sidebar-dropdown list-unstyled collapse" data-bs-parent="#sidebar">
  -->
            <li class="sidebar-item">
                <a class="sidebar-link" routerLink="login">
                    <i class='bx bx-log-in'></i>
                    <span>Login/Register</span>
                </a>
            </li>

            <!-- <li class="sidebar-item">
              <a class="sidebar-link" routerLink="register"> 
                <i class='bx bx-edit'></i> 
                <span>Register</span>
              </a>
            </li> -->

            <!-- </ul>
        </li> -->

            <!-- <li class="sidebar-item">
          <a href="#" class="sidebar-link">
            <i class='bx bx-user'></i>
            <span>User Info</span>
          </a>
        </li>

        <li class="sidebar-item">
          <a href="#" class="sidebar-link">
            <i class='bx bx-cog'></i>
            <span>Configuration</span>
          </a>
        </li> -->

            <!-- <li class="sidebar-item">
          <a href="#" class="sidebar-link">
            <i class='bx bx-log-out'></i>
            <span>Logout</span>
          </a>
        </li> -->

        </ul>
    </div>
</aside>